.product-listing-container {
  margin-top: 2%;
}
.product-listing-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
}

.product-card img {
  max-width: 100px;
  margin-right: 20px;
}

.product-card div {
  flex-grow: 1;
}

.product-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.product-card p {
  margin: 0;
  margin-bottom: 5px;
}

.loading-message,
.error-message {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.listing-container {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.product-listing-card {
  border: 1px solid #aaa;
  width: fit-content;
  padding-right: 2.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}
.product-listing-image {
  width: 200px;
}
.product-listing-details-container {
  padding-top: 2rem;
  padding-left: 2rem;
}
.pricing {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color-bright);
}
.button {
  display: inline-block;
  background-color: var(--primary-color-bright);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: white;
  font-family: chivo mono;
  text-decoration: none;
  margin-top: 2rem;
  transition: 0.2s ease-in;
}
.button:hover {
  background-color: black;
}
