.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1rem 0;
  background-color: #333;
}

.logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-family: chivo mono;
  font-weight: 700;
}

.logo span {
  font-family: chivo mono;
}

.logo img {
  height: 2rem;
  width: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding-left: 20px;
  transition: 0.2s ease-in;
}

.nav-links:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .navbar-container > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
  }

  .nav-links-container {
    padding-top: 15px;
  }
}
