.detail-section-container {
  max-width: 80%;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.product-img-container,
.product-detail-container {
  width: 50%;
}

.product-img-container {
  text-align: center;
}

.product-img-container img {
  height: 400px;
  border: 1px solid #ddd;
}

.product-detail-container h2 {
  font-size: 2rem;
}

.product-detail-container p {
  padding: 1rem 0;
}

.product-description {
  line-height: 1.7rem;
}

.product-detail-container h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: var(--primary-color-bright);
}

.product-detail-container .button {
  display: inline-block;
  background-color: var(--primary-color-bright);
  width: 50%;
  padding: 1rem 0;
  text-align: center;
  color: white;
  font-family: chivo mono;
  text-decoration: none;
  margin-top: 2rem;
  transition: 0.2s ease-in;
  border-radius: 10px;
  border-color: white;
  font-weight: bolder;
}
.button:hover {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .product-detail-container  .button {
    width: 100%;
  }
}
